<section class="footer">
      <div class="box-container">
        <div class="box">
            <h3>More links</h3>
            <a href="#">My Account</a>
            <a href="#">My order</a>
            <a href="#">My Favourites</a>
        </div>
        <div class="box">
            <h3>Locations</h3>
            <a href="#">Hyderabad</a>
            <a href="#">Bangalore</a>
            <a href="#">Pune</a>
        </div>
        <div class="box">
            <h3>Contact info</h3>
            <a href="#">Phone</a>
            <a href="#">Email</a>
            <a href="#">Social Media</a>
        </div>
        <div class="credit">Created by Rishi | all rights reserved</div>
      </div>
</section>