<div class="container">
    <h3>Register</h3>
<div class="name">
<input type="text" placeholder="Enter Fullname" class="form-control"><br>
<input type="text" placeholder="Enter your email" class="form-control"><br>

<input type="text" placeholder="Enter Address" class="form-control"><br>

<input type="text" placeholder="Select Country" class="form-control"><br>

<input type="text" placeholder="+91" class="form-control"><br>

<input type="text" placeholder="Enter username" class="form-control"><br>

<input type="text" placeholder="Enter password" class="form-control"><br>

<input type="text" placeholder="Re-enter password" class="form-control"><br>
</div>
<div class="sign-up">
<input type="button" value="Submit" class="btn btn-dark">
</div>
</div>