<html>
  <body>
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slickConfig">
      
        <div *ngFor= "let image of images ">
              <img [src]="image?.img" alt="" width="auto">
        </div>
    
  </ngx-slick-carousel>
    <div class="content">
       <h1>Welcome to your Voter Info Center</h1>
        <p>Vote for your favourite creator now</p>
        <div>
        <a href="#"><button href="#" type="submit"><span></span>Vote now</button></a>
        <a href="#"><button href="#" type="submit"><span></span>Explore</button></a>
        </div>  
    </div>
  </body>
</html>